<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RiceShop11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAddServe</display-name>
    <servlet-name>CustomerAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAddServe</servlet-name>
    <url-pattern>/CustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBillAddServe</display-name>
    <servlet-name>CustomerBillAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBillAddServe</servlet-name>
    <url-pattern>/CustomerBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRiceAddServe</display-name>
    <servlet-name>CustomerRiceAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerRiceAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRiceAddServe</servlet-name>
    <url-pattern>/CustomerRiceAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExPaymentCust</display-name>
    <servlet-name>ExPaymentCust</servlet-name>
    <servlet-class>master.servlet.ExPaymentCust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExPaymentCust</servlet-name>
    <url-pattern>/ExPaymentCust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExPaymentMahajan</display-name>
    <servlet-name>ExPaymentMahajan</servlet-name>
    <servlet-class>master.servlet.ExPaymentMahajan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExPaymentMahajan</servlet-name>
    <url-pattern>/ExPaymentMahajan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanAddServe</display-name>
    <servlet-name>MahajanAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanAddServe</servlet-name>
    <url-pattern>/MahajanAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanBillAddServe</display-name>
    <servlet-name>MahajanBillAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanBillAddServe</servlet-name>
    <url-pattern>/MahajanBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanDelServe</display-name>
    <servlet-name>MahajanDelServe</servlet-name>
    <servlet-class>master.servlet.MahajanDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanDelServe</servlet-name>
    <url-pattern>/MahajanDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanRiceAddServe</display-name>
    <servlet-name>MahajanRiceAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanRiceAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanRiceAddServe</servlet-name>
    <url-pattern>/MahajanRiceAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiceAddServe</display-name>
    <servlet-name>RiceAddServe</servlet-name>
    <servlet-class>master.servlet.RiceAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiceAddServe</servlet-name>
    <url-pattern>/RiceAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServe</display-name>
    <servlet-name>SignUpServe</servlet-name>
    <servlet-class>master.servlet.SignUpServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServe</servlet-name>
    <url-pattern>/SignUpServe</url-pattern>
  </servlet-mapping>
</web-app>